.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding-top: 10%;
}

.results-display {
  width: auto;
  border: 0.3px solid #757474;
  height: 7vh;
  background-color: #757474;
  color: #fff;
  align-items: center;
  text-align: right;
  font-size: 1.5rem;
  padding-right: 1%;
}

.buttons {
  width: 100%;
  margin: 0;
}

.button-rows {
  display: flex;
  list-style: none;
  margin: 0 !important;
  width: 100%;
  padding: 0;
}

.button-rows li {
  border: 0.3px solid #cecece;
  padding: 1rem;
  width: calc(25% - 0.5rem);
  background-color: #eee8e8;
}

.button-rows li:last-child {
  background-color: rgb(238, 163, 72);
}

.last-button-rows {
  width: 100% !important;
}

.zero {
  width: 55% !important;
}
