body {
  margin: 0;
  font-size: 1rem;
  font-weight: 800;
  background: linear-gradient(rgb(6, 6, 46), rgb(63, 11, 11));
}

.App {
  display: flex;
  padding-left: 10%;
  height: 100%;
}

.calculator-grid {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  justify-content: center;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: rgb(107, 112, 112);
  justify-content: space-around;
  word-wrap: break-word;
  word-break: break-all;
  padding: 1rem;
}

.output .previous-operand {
  font-size: 1.8rem;
  color: aliceblue;
}

.output .current-operand {
  font-size: 2.8rem;
  color: #fff;
}

.operator {
  background-color: chocolate;
}

button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 800;
}

.qoute-area {
  padding: 6rem 2rem 2rem 2rem;
}

.quotes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.quotes button {
  width: fit-content;
  margin-left: 40%;
  background-color: chocolate;
  cursor: pointer;
  padding: 1rem;
  border-radius: 2rem;
}

.quotes .author {
  font-size: 3rem;
  color: cadetblue
}
